.quiz-card {
    border: 3px solid rgb(148, 156, 174);
    padding: 1.1rem;
    border-radius: 13px;
    background-color: #e3e3e3;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.5);
}

.quiz-card img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 5px;
    border: 2px solid #0000001a;
    
}
.quiz-card h2 {
    font-size: clamp(2.2rem, 4vw, 2.9rem);
    text-align: center;
}

.quiz-card h2 span {
    font-size: calc(1.6rem + vw);
}

.quiz-card ul {
    margin: 0%;
    padding: 0;
}
.quiz-card li {
    font-size: 100%;
    list-style: none;
    padding: 0.7rem;
    background-color: #fff;
    margin-bottom: 5px;
    transition: font-size 0.5 ease-in-out,
    background-color 0.5s ease-in-out;
    border-radius: 5px;
    border: 3px solid #0000001a;
    
    

}

.quiz-card li:hover {
    font-size: 120%;
    background-color: #a4a49e;
    transition: 
    font-size 0.3s ease-in-out,
    background-color 0.5s ease-in-out
}